<div class="container">
    <%= cl_image_tag("#{@picture_url}") %>
    <div class="container">
      <h1><%= @cocktail.name %></h1>
    </div>
  <% @cocktail.doses.each do |dose| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%= dose.ingredient.name %>
    <%= dose.description %>
    <%= link_to "Delete Dose", dose_path(dose), method: :delete %>
  </div>
  <% end %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <%=  link_to "Add Doses", new_cocktail_dose_path(@cocktail) %>
  </div>
</div>
